@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
  --primary: #13254e;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: black;
}

section {
  padding-top: 100px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Main Content */
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap-reverse;
}

.hero img {
  width: 100%;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: black;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

About Section */ .informasi,
.event,
.contact {
  padding: 8rem 7% 1.4rem;
}

.tentang {
  padding: 8rem 7% 1.4rem;
}

.tentang h2 {
  font-size: 2.6rem;
  text-align: center;
}

.tentang h2 span {
  color: var(--primary);
}

.tentang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tentang img {
  width: 20%;
}

.tentang p {
  text-align: center;
  margin-top: 1rem;
}

.informasi h2,
.event h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.informasi h2 span,
.event h2 span,
.contact h2 span {
  color: var(--primary)
}

.informasi .row {
  display: flex;
}

.informasi .row .informasi-img {
  flex: 1 1 45rem;
}

.informasi .row .informasi-img img {
  width: 65%;
  border-radius: 2rem;
}

.informasi .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.informasi .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.informasi .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.6;
}

.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button span:after {
  content: 'for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 3.55em;
}

.button:hover span:after {
  opacity: 4;
  right: 0;
}

/* Menu */
.event p,
.contact p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.6;
}

.event h2,
.contact h2 {
  margin-bottom: 1rem;
}

.event .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: space-around;
}

.event .row .event-card {
  text-align: center;
}

.event .row .event-card-judul {
  padding-top: 40px;
}

.event .row .event-card img {
  /* border-radius: 50%; */
  width: 200px;
  height: 200px;

}

.event .row .event-card .event-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Kontak Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #2222;

}

.contact .row .map {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 3rem;
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: var(--bg);
  padding: 0.7rem 1rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

footer p {
  color: var(--bg);
}

/* Media QUeri */
/* Leptop */
@media (max-width:1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width:768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    color: black;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .informasi .row {
    flex-wrap: wrap;
  }

  .informasi .row .content h3 {
    text-align: center;
  }

  .informasi .row .informasi-img img {
    height: 10rem;
    object-fit: contain;
    /* object-position: start; */
  }

  .informasi .row .content {
    padding: 0;
  }

  .informasi .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .informasi .row .content p {
    font-size: 1.6rem;
  }

  .contack .row {
    flex-wrap: wrap;
  }

  .contack .row .map {
    height: 30rem;
  }

  .contack .row form {
    padding: 0;
  }

  ;



}

/* Mobile Phone */
@media (max-width:450px) {
  html {
    font-size: 55%;
  }


}